body {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #999;
	font-size: 62.5%;
}

header,
main,
footer {
	background-color: #ddd;
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

p {
	padding: 1.25em;
}

footer {
	text-align: center;
	padding: 3em;
    font-style: italic;
    font-size: 8px;
}

img.example {
    width: 100px;
}

div.caption {
    font-size: 8px;
}
